body {
	background-color: #333333;
	color: #FFE18D;
	font-family: "josefin-sans";
	height: 8000px;
}

#container {
	width: 978px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#moon {
	position: fixed;
}